<h1>ARTICLES USING @</h1>

<h4> Title: <%= @article.title %> </h4>
<h4> Content: <%= @article.content %> </h4>

<form method="post" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete"></form>